<h2>Reactivos: <small>Dinamicos</small></h2>
<hr>

<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">

    <!-- nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="">Nombre</label>
        <div class="col-sm-9">
            <input type="text"
                    class="form-control"
                    formControlName="nombre"
                    placeholder="Nombre de la Persona">
                    <span *ngIf="campoEsValido('nombre')" class="form-text text-danger">Debe ser de 3 letras</span>
        </div>
    </div>

    <!-- Agregar Favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text"
                        class="form-control"
                        placeholder="Agregar Favorito"
                        [formControl]="nuevoFavorito"
                        (keyup.enter)="agregarFavorito()">
                        <button 
                            type="button" 
                            class="btn btn-outline-primary"
                            (click)="agregarFavorito()">
                                Agregar
                        </button>
            </div>
        </div>
    </div>

    <!-- Lista de Juegos Favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">

            <div class="input-group mb-1"
                        *ngFor="let favorito of favoritosArr.controls, let i = index">
                <input class="form-control"
                        [formControlName]="i">
                    <button type="button" 
                            class="btn btn-outline-danger"
                            (click)="borrar(i)">
                        Borrar
                    </button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    (click)="guardar()"
                    class="btn btn-primary float-end"
                    >
                Guardar
            </button>
        </div>
    </div>

</form>

<span>Valid</span>
<pre>{{miFormulario.valid}}</pre>
<br>
<span>Value</span>
<pre>{{miFormulario.value | json}}</pre>
<br>
<span>Agregar Juego</span>
<pre>{{nuevoFavorito.valid}}</pre>
<br>
<span>Agregar Juego Value</span>
<pre>{{nuevoFavorito.value | json}}</pre>
<br>
<!-- 
<span>Persona</span>
<pre>
    {{persona | json}}
</pre> -->